[user]
	name = liyuan-rey
	email = 10598397+liyuan-rey@users.noreply.github.com
[core]
	autocrlf = input # check out as-is, commit to LF
	fscache = true
	symlinks = false
	longpaths = true
	editor = "\"E:\\\\Program Files\\\\Notepad3\\\\Notepad3.exe\" "
#	editor = \"%LOCALAPPDATA%\\Programs\\Microsoft VS Code\\Code.exe\" --wait
[init]
	defaultBranch = main
[pull]
	rebase = false
#[i18n]
#	commitEncoding = utf-8 # default value is utf-8
#	logoutputencoding = utf-8 # default value is utf-8

[credential]
	helper = manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[http]
	sslBackend = openssl
	sslCAInfo = E:/Program Files/Git/mingw64/ssl/certs/ca-bundle.crt
#	sslVerify = false
#	proxy = http://127.0.0.1:26180
#[https]
#	proxy = http://127.0.0.1:26180

#[diff]
#	tool = vsdiffmerge
#[difftool]
#	prompt = true
#[difftool "vsdiffmerge"]
#	cmd = \"C:\\Program Files (x86)\\Microsoft Visual Studio 14.0\\Common7\\IDE\\vsdiffmerge.exe\" \"$LOCAL\" \"$REMOTE\" //t
#	keepbackup = false
#	trustexitcode = true
#[merge]
#	tool = vsdiffmerge
#[mergetool]
#	prompt = true
#[mergetool "vsdiffmerge"]
#	cmd = \"C:\\Program Files (x86)\\Microsoft Visual Studio 14.0\\Common7\\IDE\\vsdiffmerge.exe\" \"$REMOTE\" \"$LOCAL\" \"$BASE\" \"$MERGED\" //m
#	keepbackup = false
#	trustexitcode = true
