[user]
	name = liyuan-rey
	email = 10598397+liyuan-rey@users.noreply.github.com
[diff]
	tool = vsdiffmerge
[difftool]
	prompt = true
[difftool "vsdiffmerge"]
	cmd = \"C:\\Program Files (x86)\\Microsoft Visual Studio 14.0\\Common7\\IDE\\vsdiffmerge.exe\" \"$LOCAL\" \"$REMOTE\" //t
	keepbackup = false
	trustexitcode = true
[merge]
	tool = vsdiffmerge
[mergetool]
	prompt = true
[mergetool "vsdiffmerge"]
	cmd = \"C:\\Program Files (x86)\\Microsoft Visual Studio 14.0\\Common7\\IDE\\vsdiffmerge.exe\" \"$REMOTE\" \"$LOCAL\" \"$BASE\" \"$MERGED\" //m
	keepbackup = false
	trustexitcode = true
[gc]
	autoDetach = false
[core]
	longpaths = true
	autocrlf = false
	editor = \"%LOCALAPPDATA%\\Programs\\Microsoft VS Code\\Code.exe\" --wait
[i18n]
	logoutputencoding = utf-8
#[https]
#	proxy = http://127.0.0.1:26180
#[http]
#	proxy = http://127.0.0.1:26180
[http]
	sslVerify = false
