;;;;
; npm userconfig file
; this is a simple ini-formatted file
; lines that start with semi-colons are comments.
; read `npm help config` for help on the various options
;;;;


registry=https://registry.npm.taobao.org/

electron_mirror=https://npm.taobao.org/mirrors/electron/

sass_binary_site=https://npm.taobao.org/mirrors/node-sass/

;python=C:/Users/liyuan/AppData/Local/Programs/Python/Python36-32/python.exe

;;;;
; all options with default values
;;;;
; access=null
; always-auth=false
; bin-links=true
; browser=null
; ca=null
; cafile=undefined
; cache=C:\Users\liyuan\AppData\Roaming\npm-cache
; cache-lock-stale=60000
; cache-lock-retries=10
; cache-lock-wait=10000
; cache-max=null
; cache-min=10
; cert=null
; color=true
; depth=null
; description=true
; dev=false
; editor=notepad.exe
; engine-strict=false
; force=false
; fetch-retries=2
; fetch-retry-factor=10
; fetch-retry-mintimeout=10000
; fetch-retry-maxtimeout=60000
; git=git
; git-tag-version=true
; global=false
; globalconfig=C:\Users\liyuan\AppData\Roaming\npm\etc\npmrc
; group=0
; heading=npm
; if-present=false
; ignore-scripts=false
; init-module=C:\Users\liyuan\.npm-init.js
; init-author-name=
; init-author-email=
; init-author-url=
; init-version=1.0.0
; init-license=ISC
; json=false
; key=null
; link=false
; local-address=undefined
; loglevel=warn
; long=false
; message=%s
; node-version=4.1.0
; npat=false
; onload-script=null
; optional=true
; parseable=false
; prefix=C:\Program Files\nodejs
; production=false
; proprietary-attribs=true
; proxy=null
; https-proxy=null
; user-agent=npm/{npm-version} node/{node-version} {platform} {arch}
; rebuild-bundle=true
; registry=https://registry.npmjs.org/

; rollback=true
; save=false
; save-bundle=false
; save-dev=false
; save-exact=false
; save-optional=false
; save-prefix=^
; scope=
; searchopts=
; searchexclude=null
; searchsort=name
; shell=C:\WINDOWS\system32\cmd.exe
; shrinkwrap=true
; sign-git-tag=false
; spin=true
; strict-ssl=true
; tag=latest
; tag-version-prefix=v
; tmp=C:\Users\liyuan\AppData\Local\Temp
; unicode=true
; unsafe-perm=true
; usage=false
; user=0
; userconfig=C:\Users\liyuan\.npmrc
; umask=0
; version=false
; versions=false
; viewer=browser
; _exit=true
; globalignorefile=C:\Users\liyuan\AppData\Roaming\npm\etc\npmignore